*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search{
  position: relative;
  height: 50px;
}
.input{
  background-color: #fff;
  border: 0;
  font-size: 18px;
  outline: none;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}
.button{
  background-color: #fff;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search.active .input{
  width: 200px;
}
.search.active .button{
  transform: translateX(198px);
}